<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eling.fitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.eling.fitnessapp.calories.CalorieDetailsActivity"></activity>
        <activity android:name="com.example.eling.fitnessapp.calories.IngredientActivity" />
        <activity android:name="com.example.eling.fitnessapp.calories.AddNewCaloriesActivity" />
        <activity android:name="com.example.eling.fitnessapp.training.TrainingDetailsActivity" />
        <activity android:name="com.example.eling.fitnessapp.training.NewTrainingActivity" />
        <activity android:name="com.example.eling.fitnessapp.profile.RegisterActivity" />
        <activity android:name="com.example.eling.fitnessapp.profile.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.eling.fitnessapp.MainActivity" />
    </application>

</manifest>